body {
    background-color: #b2bac4;

}

p {
    color: #000;
    font-size: 18px;
    font-family: Tahoma;
    padding-left: 50px;
}

h1 {
    font-size: 75px;
    font-family: Arial;
    color:#001229;
    margin-bottom: 5px;
    text-align: center;
}

button {
    font-family: Helvetica;
    font-size:19px;
    font-weight: bold;
    height: 50px;
    width:175px;
    border-color: red;
    border-width: 1px;
    background: transparent;
}

.caja {
    background: #fff;
    margin: auto;
    width: 850px;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
}

.botones {
    background: #ffffff;
    width: 713px;
    height: 50px;
    margin: auto;
    padding: 25px;
}

.present{
    font-size: 10px;
    text-align: center;
}